.jekyll-cache
_site/404.html
_site/feed.xml
_site/feed.xml
_site/img/FitnessMe/age.png
_site/img/FitnessMe/answer.png
_site/img/FitnessMe/confidence.png
_site/img/FitnessMe/exercise.png
_site/img/FitnessMe/gender.png
_site/img/FitnessMe/LowFidelity.png
_site/img/FitnessMe/Medium1.png
_site/img/FitnessMe/Medium2.png
_site/img/FitnessMe/Medium3.png
_site/img/FitnessMe/outdooractivity.png
_site/img/FitnessMe/pollexercise.png
_site/img/FitnessMe/snack.png
_site/img/FitnessMe/weight.png
_site/img/milestonePay/bestpractices.PNG
_site/img/milestonePay/Client User Journey.jpg
_site/img/milestonePay/clientbrief.png
_site/img/milestonePay/competitoranalysis.png
_site/img/milestonePay/concepttesting.PNG
_site/img/milestonePay/contracts.PNG
_site/img/milestonePay/desktopresearch.png
_site/img/milestonePay/Discover.png
_site/img/milestonePay/dreamtool.PNG
_site/img/milestonePay/feedback.PNG
_site/img/milestonePay/focus.PNG
_site/img/milestonePay/Freelancer User Journey.jpg
_site/img/milestonePay/freelancervoting.PNG
_site/img/milestonePay/howmightwe.PNG
_site/img/milestonePay/ideas1.PNG
_site/img/milestonePay/ideas2.PNG
_site/img/milestonePay/ideas3.PNG
_site/img/milestonePay/ideas4.PNG
_site/img/milestonePay/ideasworkshop.PNG
_site/img/milestonePay/interviews.PNG
_site/img/milestonePay/invoices.PNG
_site/img/milestonePay/invoicing.PNG
_site/img/milestonePay/MVP.PNG
_site/img/milestonePay/Painpoints.PNG
_site/img/milestonePay/Persona-Client.jpg
_site/img/milestonePay/Persona-Freelancer.jpg
_site/img/milestonePay/problemstatement.png
_site/img/milestonePay/projectscope.png
_site/img/milestonePay/quotes.PNG
_site/img/milestonePay/research1.png
_site/img/milestonePay/research10.PNG
_site/img/milestonePay/research11.PNG
_site/img/milestonePay/research12.PNG
_site/img/milestonePay/research2.png
_site/img/milestonePay/research3.png
_site/img/milestonePay/research4.PNG
_site/img/milestonePay/research5.PNG
_site/img/milestonePay/research6.PNG
_site/img/milestonePay/research7.PNG
_site/img/milestonePay/research8.PNG
_site/img/milestonePay/research9.PNG
_site/img/milestonePay/sketching.PNG
_site/img/milestonePay/survey participant data.PNG
_site/img/milestonePay/team.png
_site/img/milestonePay/userflows.PNG
_site/img/milestonePay/workshop1.PNG
_site/img/milestonePay/workshop2.PNG
_site/img/milestonePay/workshoptechniques.PNG
_site/img/portfolio/FitnessMe.png
_site/img/portfolio/grouptag.png
_site/img/portfolio/MilestonePay.png
_site/img/portfolio/SustainHealth.png
_site/img/Shared/404.png
_site/img/Shared/background.png
_site/img/Shared/blog.png
_site/img/Shared/comment.png
_site/img/Shared/wip.png.sb-e3093e25-dRmL6n
_site/img/timeline/academyxi.png
_site/img/timeline/bravostudio.png
_site/img/timeline/careerbreak.png
_site/img/timeline/grouptag.png
_site/img/timeline/ibm.png
_site/img/timeline/jntu.png
_site/img/timeline/start.png
_site/index.html
_site/style.css
