<!-- 404 Section -->
<section id="thankyou">
    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col-lg-12 text-center">     
                <h2>Thank you</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <p> I appreciate you contacting me. I will get back to you soon! 
                <br<br>Have a great day!
                <br><br> Click <a href="{{ site.url }}">here</a> to navigate back to home
                </p>
        </div>

    </div>
</section>
