

body {
    overflow-x: hidden;
}

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #{{ site.color.primary }};
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
    overflow: visible;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #{{ site.color.secondary }};
}

hr.star-primary {
    border-color: #{{ site.color.secondary }};
}

hr.star-primary:after {
    color: #{{ site.color.secondary }};
    background-color: #FFF;
}

.img-centered {
    margin: 0 auto;
}

header {
    text-align: center;
    color: #FFF;
    background: #{{ site.color.primary }};
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

@media(min-width:768px) {
    header .container {
        padding-top: 200px;
        padding-bottom: 100px;
    }

    header .intro-text .name {
        font-size: 4.75em;
    }

    header .intro-text .skills {
        font-size: 1.75em;
    }
}

@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

section {
    padding: 100px 0;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

section.success {
    color: #fff;
    background: #{{ site.color.primary }};
}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }

    section.first {
        padding-top: 75px;
    }
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    /*background: rgba({{ site.color.primary-rgb }},.9);*/
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

/* Flexbox Portfolio Grid */
@media (min-width: 640px) {
    .portfolio-flex-grid .portfolio-flex-row {
      display: flex;
      flex-flow: row wrap;
      align-items: stretch;
      justify-content: space-between;
    }
    .portfolio-flex-grid .portfolio-flex-row .portfolio-flex-item {
      flex: 1 0 49%;
      max-width: 49%;
    }
  }
  @media (min-width: 960px) {
    .portfolio-flex-grid .portfolio-flex-row .portfolio-flex-item {
      flex: 1 0 32%;
      max-width: 32%;
    }
  }
  /* A large grid might need four columns on widescreen layouts */
  /* @media (min-width: 1380px) {
    .portfolio-flex-grid .portfolio-flex-row .portfolio-flex-item {
      flex: 1 0 23.5%;
      max-width: 23.5%;
    }
  } */

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: #{{ site.color.secondary }};
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #{{ site.color.primary }};
    /*background: #fff;*/
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #{{ site.color.secondary }};
    /*rgb(158, 29, 29);*/
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #{{ site.color.primary }};
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}

footer {
    color: #fff;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 50px;
    background-color: #{{ site.color.secondary }};
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #{{ site.color.secondary-dark }};
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #{{ site.color.secondary }};
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #{{ site.color.secondary }};
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.navbar-nav>.active>a {
    background-color: #{{ site.color.secondary-dark }} !important;
}

/* Fix modal mouse wheel issues */
/* https://github.com/twbs/bootstrap/issues/16297 */
.modal.fade.in {
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}

.nav-tabs > li.active > a {
  color: 
  font-size: 24px;
  font-style: oblique;
  font-weight: bold;

}
.nav-tabs > li > a {
  color: #{{ site.color.primary }};;
  font-size: 24px;
  font-style: oblique;
  font-weight: bold;
}


.slide-control{
    color:#{{ site.color.primary }};
    font-size:60px;
    left:30px;
    margin-top:-70px;
    position:absolute;
    top:50%;
}

.slide-control.right{
    left:auto;
    right:30px;
}

.myimg{
    opacity: 0;
}

.myimg1{
  border-radius: 50%;
}

/* Style the tab */
.nav {
  overflow: hidden;
  border: none;
  background-color: #{{ site.color.secondary }};
}

/* Style the buttons inside the tab */
.nav button {
  background-color: inherit;
  float: left;
  border: 1px solid #{{ site.color.primary }};
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.nav button:hover {
  background-color: #ddd;
  border: 1px solid #{{ site.color.primary }};
}

.fa-star {
    color: rgb(212, 159, 12)
}


.timeline {
	 position: relative;
	 padding: 0;
	 list-style: none;
}
 .timeline:before {
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 left: 40px;
	 width: 5px;
	 margin-left: -1.5px;
	 content: "";
	 background-color: #{{ site.color.secondary }};
}
 .timeline > li {
	 position: relative;
	 min-height: 50px;
	 margin-bottom: 50px;
}
 .timeline > li:after, .timeline > li:before {
	 display: table;
	 content: " ";
}
 .timeline > li:after {
	 clear: both;
}
 .timeline > li .timeline-panel {
	 position: relative;
	 float: right;
	 width: 100%;
	 padding: 0 20px 0 100px;
	 text-align: left;
}
 .timeline > li .timeline-panel:before {
	 right: auto;
	 left: -15px;
	 border-right-width: 15px;
	 border-left-width: 0;
}
 .timeline > li .timeline-panel:after {
	 right: auto;
	 left: -14px;
	 border-right-width: 14px;
	 border-left-width: 0;
}
 .timeline > li .timeline-image {
	 position: absolute;
	 z-index: 100;
	 left: 0;
	 width: 80px;
	 height: 80px;
	 margin-left: 0;
	 text-align: center;
	 color: #fff;
	 border: qqqqqq;
	 border-radius: 100%;
	 background-color: #aaa;
}
 .timeline > li .timeline-image h4 {
	 font-size: 10px;
	 line-height: 14px;
	 margin-top: 12px;
}
 .timeline > li.timeline-inverted > .timeline-panel {
	 float: right;
	 padding: 0 20px 0 100px;
	 text-align: left;
}
 .timeline > li.timeline-inverted > .timeline-panel:before {
	 right: auto;
	 left: -15px;
	 border-right-width: 15px;
	 border-left-width: 0;
}
 .timeline > li.timeline-inverted > .timeline-panel:after {
	 right: auto;
	 left: -14px;
	 border-right-width: 14px;
	 border-left-width: 0;
}
 .timeline > li:last-child {
	 margin-bottom: 0;
}
 .timeline .timeline-heading h4 {
	 margin-top: 0;
	 color: inherit;
}
 .timeline .timeline-heading h4.subheading {
	 text-transform: none;
}
 .timeline .timeline-body > ul, .timeline .timeline-body > p {
	 margin-bottom: 0;
}
 @media (min-width: 768px) {
	 .timeline:before {
		 left: 50%;
	}
	 .timeline > li {
		 min-height: 100px;
		 margin-bottom: 100px;
	}
	 .timeline > li .timeline-panel {
		 float: left;
		 width: 41%;
		 padding: 0 20px 20px 30px;
		 text-align: right;
	}
	 .timeline > li .timeline-image {
		 left: 50%;
		 width: 100px;
		 height: 100px;
		 margin-left: -50px;
	}
	 .timeline > li .timeline-image h4 {
		 font-size: 13px;
		 line-height: 18px;
		 margin-top: 16px;
	}
	 .timeline > li.timeline-inverted > .timeline-panel {
		 float: right;
		 padding: 0 30px 20px 20px;
		 text-align: left;
	}
}
 @media (min-width: 992px) {
	 .timeline > li {
		 min-height: 150px;
	}
	 .timeline > li .timeline-panel {
		 padding: 0 20px 20px;
	}
	 .timeline > li .timeline-image {
		 width: 150px;
		 height: 150px;
		 margin-left: -75px;
	}
	 .timeline > li .timeline-image h4 {
		 font-size: 18px;
		 line-height: 26px;
		 margin-top: 30px;
	}
	 .timeline > li.timeline-inverted > .timeline-panel {
		 padding: 0 20px 20px;
	}
}
 @media (min-width: 1200px) {
	 .timeline > li {
		 min-height: 170px;
	}
	 .timeline > li .timeline-panel {
		 padding: 0 20px 20px 100px;
	}
	 .timeline > li .timeline-image {
		 width: 170px;
		 height: 170px;
		 margin-left: -85px;
	}
	 .timeline > li .timeline-image h4 {
		 margin-top: 40px;
	}
	 .timeline > li.timeline-inverted > .timeline-panel {
		 padding: 0 100px 20px 20px;
	}
}
 
.img-fluid{
    width: 100% \9;
    height:100%
}